/* Stylesheet for Nevis html Result files */


/* Fonts */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/oHi30kwQWvpCWqAhzHcCSBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* Styles */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    background-color: #29B6F6;
    color: white;
    font-family: Roboto, Segoe UI, sans-serif;
    font-weight: 300;
    width: 100%;
    margin: 0;
    height: 55px;
}

main {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    min-height: calc(100% - 130px);
}

footer {
    background-color: #0277BD;
    margin-top: 20px;
    color: white;
    font-family: Roboto, Segoe UI, sans-serif;
    font-weight: 300;
    width: 100%;
    margin-bottom: 0;
}

h1 {
    width: calc(100% - 10px);
    margin: 0;
    font-size: 35px;
    padding: 5px;
    text-align: center;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h2 {
    margin: 10px 0;
    font-size: 35px;
    padding: 5px;
    font-weight: 300;
    font-family: Roboto, Segoe UI, sans-serif;
}

p {
    font-weight: 100;
    font-family: Roboto, Segoe UI, sans-serif;
    padding: 5px;
    width: calc(100% - 10px);
    text-align: center;
    height: 25px;
    font-size: 18px;
    margin: 0;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

tr {
    transition: .5s;
}

tr:nth-child(even) {
    background-color: #BBDEFB;
    border: 0;
}

tr:hover {
    background-color: #90CAF9;
}

th {
    font-weight: 500;
    font-family: Roboto, Segoe UI, sans-serif;
    font-size: 16px;
    padding: 7px;
}

td {
    font-weight: 300;
    font-family: Roboto, Segoe UI, sans-serif;
    font-size: 16px;
    padding: 7px;
    border: 0;
}


/* Hide columns on small screens */

@media(max-width:550px) {
    .info {
        display: none;
    }
}

@media(max-width:500px) {
    .club {
        display: none;
    }
}

@media(max-width:400px) {
    .class {
        display: none;
    }
}


/* Print Styles */

@media print {
    h1,
    p {
        color: black;
        background-color: white;
        font-weight: 300;
    }
    footer {
        color: black;
        background-color: white;
        font-weight: 300;
    }
    main {
        margin: 0px!important;
        margin-left: 5%!important;
        width: 90%!important;
    }
    table {
        width: 100%;
        margin: 0;
    }
}