.btn {
    border: none;
    border-radius: 3px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: .2rem 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: #fff;
    background-color: #42a5f5;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    outline: 0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.btn:focus {
    background-color: #e6e6e6;
}
.btn:hover {
    background-color: #42a5f5;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
.blue {
    background-color: #2196F3;
}
body {
    width: 100%;
    height: 100%;
    font-family: Roboto, Segoe Ui, Sans-Serif;
	box-sizing:border-box;
}
#space {
    background-color: #150f49;
    width: 100%;
    margin-top: 0px;

    top: 0px;
    color: white;
    background-image: url(sky.png);
    text-align: center;
    font-family: Roboto, Segoe Ui, Sans-Serif;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3)
}
.btn {
    color: white;
    vertical-align: center;
    text-decoration: underline;
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    postion: relative;
}
p {
    text-align: center;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.btn p {
    text-align: right;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline-block;
    line-height: 36px;
    float: right;
    margin-left: 5px;
}
#buttons {
    margin-left: 0px;
}
#info {
    width: 95%;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}
h1 {
    font-size: 38px;
    margin-bottom: 15px;
}
img {
    margin-top: 0px;
    height: 100%;
    margin-left: 0px;
    float: none;
}
#rocket {
	padding-top:3%;
    height: 300px;
    margin-bottom: 20px;
}
@media(max-width:550px) {
    #rocket {
        height: 250px;
    }
}
@media(min-width:800px) {
	#rocket {
        padding-top:1%;
    }
} 
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v20/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 36px;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
i {
    float: left;
}
footer{
	background-color:#0D47A1;


	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
	
}
footer p{
	padding:1%;
	color:white;
	margin:0px;

	text-align:center;
	text-decoration:none;
	
}

footer a {
	text-decoration:bold;
	color:white;
}
main{margin-top:3%; margin-bottom:2%;}
.flash{font-size:100px;color:#2196F3;}
.rd{width:28.5%;text-align:center;display:inline-block;padding:2%;vertical-align:top;}
.rd i {display:block;width:100%;line-height:100px;margin-bottom:5px;}
.rd p{font-size:16px;line-height:20px;}
@media(max-width:650px){.rd{width:92%;padding-left:4%;padding-right:4%;}footer p{padding:2%;}}

